
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: rgb(0, 255, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border: 2px solid rgb(0, 255, 136);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid rgb(0, 255, 191);
    border-radius: 5px;
}

button {
    background-color: rgb(0, 255, 200);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

a {
    color: rgb(0, 255, 115);
    text-decoration: none;
}


